body {
    margin: 0 auto;
}

header {
border: solid 2px;
margin: 3px;
text-align: center;
}

aside {
    border: solid 2px;
    margin: 3px;
    float: left;
    display: none;
}

article {
    border: solid 2px;
    margin: 3px;
        
}

footer {
    border: solid 2px;
    margin: 3px;
}